<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Key-Value Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        table td {
            word-break: break-word;
        }
    </style>
</head>

<body>
    <h1 class="text-center">Key-Value Data</h1>
    <div class="table-responsive" style="border-radius: .375em;">
        <table class="table table-striped table-hover" style="width:100%">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                {% for kv in kv_list %}
                <tr>
                    <td>{{ kv.id }}</td>
                    <td>{{ kv.key }}</td>
                    <td>{{ kv.value }}</td>
                    <td class="update-time">{{ kv.time }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="d-flex align-item-center">
        <nav aria-label="..." style="margin: auto;">
            {% if prev_page_url %}
            <a class="btn btn-primary" href="{{ prev_page_url }}" role="button">Previous Page</a>
            {% else %}
            <a class="btn btn-primary disabled" href="#" role="button">Previous Page</a>
            {% endif %}
            <span class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Go to Page
                </a>
                <ul class="dropdown-menu">
                    {% for rec in page_links %}
                    {% if rec.number == cur_page %}
                    <li><a class="dropdown-item active" aria-current="true" href="{{ rec.link }}">{{rec.number}} /
                            {{total_pages}}</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{{ rec.link }}">{{rec.number}} / {{total_pages}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </span>
            {% if next_page_url %}
            <a class="btn btn-primary" href="{{ next_page_url }}" role="button">Next Page</a>
            {% else %}
            <a class="btn btn-primary disabled" href="#" role="button">Next Page</a>
            {% endif %}
        </nav>
    </div>
    <script>
        window.onload = function () {
            let times = document.getElementsByClassName("update-time");
            for (let i = 0; i < times.length; i++) {
                var t = times[i];
                let time = (new Date(parseFloat(t.innerText) * 1000)).toLocaleString();
                t.innerText = time;
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>